<h2>Highest Ranked Pages</h2>
<p>The list of pages below shows the highest ranked pages, in order of popularity.</p>
<ol>
    <% @pages.each do |page| %>
        <li><%= link_to page.name, page.path %>: Average is <%= page.avg_rank.to_f.round(1) %> with <%= page.rankings_count %> total votes.</li>
    <% end %>
</ol>